<!-- <nav class="navbar navbar-expand navbar-dark bg-primary 
            ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="sidebar">
    <ul class="navbar-nav flex-column">
      <li class="nav-item active">
        <a class="navbar-brand active h1 mb-0 nav-link" href="/">Tim Pua</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cv">CV</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/thoughts">Blog</a>
      </li>
    </ul>
  </div>
</nav> -->
<div class="d-flex flex-column w-25 h-100 bg-primary text-right py-3">
  <h3 class="px-3"><a class="text-decoration-none" href="/">Tim Pua</a></h3>
  <nav class="nav navbar-expand flex-column text-light">
    <a class="nav-link {{ page.cv }}" href="/cv" title="cv">CV</a>
    <a class="nav-link {{ page.contact }}" href="/contact" title="contact">Contact</a>
  </nav>
</div>


